---
layout: default
---
#home
  - site.collated_posts.sort.reverse.each do |year,months|
    - months.sort.reverse.each do |month,days|
      %ul.month
        %h3.title_date
          = "%s" % Date::MONTHNAMES[month]
          %span.year
            = "%s" % year
        - days.sort.reverse.each do |day,posts|
          - posts.each do |post|
            %li
              %div.index_post
                %div.index_post_title
                  = "%s" % [link_to post.title, post.url]
                %div.index_post_date
                  = "%02dth" % day
                %div.index_post_intro
                  = (post.content.split('</p>')[0] + " (...)").gsub( %r{</?[^>]+?>}, '' )