---
layout: default
---
#home
  - site.collated_posts.sort.reverse.each do |year,months|
    - months.sort.reverse.each do |month,days|
      %h3.title_date
        = "%s" % Date::MONTHNAMES[month]
        %span.year
          = "%s" % year
      %ul.month
        - days.sort.reverse.each do |day,posts|
          - posts.each do |post|
            %li
              %div.index_post
                %div.index_post_title
                  = "%s" % [link_to post.title, post.url]
                %div.index_post_date
                  = "%02dth" % day
                - if (post.content.split('</p>')[0]).gsub(%r{</?[^>]+?>}, '' ) != ""
                  - if post.content =~ /Article Contents/
                    %div.index_post_intro
                      = (post.content.split('<p>')[1] + " (...)").gsub(%r{</?[^>]+?>}, '' )
                  - else
                    %div.index_post_intro
                      = (post.content.split('</p>')[0] + " (...)").gsub(%r{</?[^>]+?>}, '' )
